@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Sriracha & display=swap');

/* Até agora ainda nao sai o porque que minha @import nao quem funcionar ,mais vou descobrir */

:root { 
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;
   --fonte3: Verdana, Geneva, Tahoma, sans-serif;
}

*{ 
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: var(--fonte1);
}

html , body { 
 min-height: 100vh;
 background-color: rgb(228, 228, 228);
 font-family: var(--fonte1);
}
header{ 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}

header >h1{ 
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 6vw;
}

header > p { 
    padding-bottom: 50px;
}

header a, footer a { 
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover { 
text-decoration: underline;
}

section{ 
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height:2em;
    padding-left:30px;
    font-size: 3vw;
}
section >p { 
    padding-bottom: 1em;
}

section.normal {
    background-color: rgba(0, 0, 0, 0.897);
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}

section.imagem{ 
    background-color: rgba(51, 51, 51, 0.829);
    color: white;
    padding-left: 1px; 
    padding-bottom: 70px;
    padding-top: 70px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.589);
    background-size: cover;
    background-attachment: fixed;
    
    /* Quando você usa background-size nas mesma section e todas elas usam a msm back-size pode fazer a config somente a primaria que as outras iram funcionar */
}
section.imagem > p { 
    display: inline-block;
    padding: 20px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.185);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.726);

}
section#img01{ 
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
section#img02 { 
    background-image: url('../imagens/background002.jpg');
}

footer{ 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}
footer> a { 
    color: black;
}

